@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*
{
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro';
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url(images/valorantBackround.png);
    background-size: cover;
}

.nav ul{
    margin: 0;
}

.nav li 
{
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: qpx solid rgba(255, 255, 255, .3);
}
.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header{
    background-color: rgba(0, 0, 0, .3);
    background-image: url(images/riotBanner.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.siteName {
    text-align: center;
    margin: 0;
    font-size: 6em;
    color: rgba(0, 0, 0, .5);
}

.dm {
    outline: auto;
    outline-color: white;
}

.pfp {
    width: 75px;
}

img {
    
    border-radius: 50px;
    
    
  }

  .username {
    font-weight: bold;
  }

  em {
    color: red;
    font-style: normal;
  }